/* .container_login {
    min-height: 68vh;
} */

.mat-form-field {
    display: block;
}

.contentCheckbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mat-input-element:-webkit-autofill,
.mat-input-element:-webkit-autofill:hover,
.mat-input-element:-webkit-autofill:focus {
    color: #fff222;
}

.titulo {
    /* border-radius: .5em; */
    margin-bottom: 1em;
    width: 100%;
    /* background-color: var(--color-primary); */
    color: var(--color-text);
}

.titulo h2 {
    text-align: center;
    font-size: 2.2rem;
    margin: 2rem 0px;
}

/* @media (max-width: 625px) {
    .formulario {
        width: 400px;
    }
}

@media (max-width: 475px) {
    .formulario {
        width: 200px;
    }
} */