{
  "printWidth": 140,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": false,
  "arrowParens": "always",
  "overrides": [
    {
      "files": [
        "*.html"
      ],
      "options": {
        "printWidth": 140
      }
    }
  ]
}