<div class="error__container">
    <div class="error__content">
        <h1 class="error__title">
            Lo sentimos,
            <br />
            No encontramos lo que buscás.
        </h1>
        <h2 class="error__subtitle">Es posible que el enlace esté roto o que la dirección haya sido escrita incorrectamente.</h2>
        <h3 class="error__description">Por favor, verifica la URL o vuelve a la página de inicio.</h3>
        <div>
            <app-btn [routerLink]="'/home'" [text]="'Volver al inicio'" [color]="'error'" [variant]="'raised'"></app-btn>
        </div>
    </div>
</div>
