@use 'theme/variables' as *;

/* ---------------- BASE ---------------- */
.btn {
  width: 100%;
  height: 36px;
  // border: none;
  font-family: nth(map-get($fonts, body), 1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:focus {
    box-shadow: 0 0 0 3px transparent;
  }
}

.btn.raised {
  color: map-get($colors, text);
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
