.btn {
    width: full-width;
    height: 36px;
    padding: 0 16px;
    border-radius: 5px;
    border: none;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------------- TYPES ----------------- */
.btn.basic {
    background-color: transparent;
    border: none;
}

.btn.raised {
    color: var(--color-text);
    box-shadow:
        0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.btn.outline {
    background-color: transparent;
    border: 2px solid;
}

/* ---------------- COLORS ---------------- */
.btn.primary {
    color: var(--color-primary);
}

.btn.secondary {
    color: var(--color-secondary);
}

.btn.success {
    color: var(--color-success);
}

.btn.error {
    color: var(--color-error);
}

.btn.confirm {
    color: var(--color-confirm);
}

/* Raised override (letras blancas) */
.btn.raised.primary,
.btn.raised.secondary,
.btn.raised.success,
.btn.raised.error,
.btn.raised.confirm {
    background-color: var(--color-primary);
    color: var(--color-text);
}

.btn.ghost {
    background-color: transparent;
    border: none;
    color: var(--color-text--muted);
    font-weight: 400;
}

.btn.stroked {
    background-color: transparent;
    border: 1px solid var(--color-surface);
}

.btn.raised.secondary {
    background-color: var(--color-secondary);
}
.btn.raised.success {
    background-color: var(--color-success);
}
.btn.raised.error {
    background-color: var(--color-error);
}
.btn.raised.success {
    background-color: var(--color-success);
}
.btn.raised.confirm {
    background-color: var(--color-confirm);
}
.btn.raised.surface {
    background-color: var(--color-surface);
}
.btn.raised.text {
    background-color: transparent;
}

/* Outline override (borde del color) */
.btn.outline.primary {
    border-color: var(--color-primary);
}
.btn.outline.secondary {
    border-color: var(--color-secondary);
}
.btn.outline.success {
    border-color: var(--color-success);
}
.btn.outline.error {
    border-color: var(--color-error);
}
.btn.outline.confirm {
    border-color: var(--color-confirm);
}
.btn.outline.surface {
    border-color: var(--color-surface);
}

.btn.stroked.primary {
    color: var(--color-primary);
}
.btn.stroked.secondary {
    color: var(--color-secondary);
}
.btn.stroked.success {
    color: var(--color-success);
}
.btn.stroked.error {
    color: var(--color-error);
}
.btn.stroked.confirm {
    color: var(--color-confirm);
}
.btn.stroked.surface {
    color: var(--color-text);
}
.btn.stroked.text {
    color: var(--color-text);
}

/* ---------------- HOVERS ---------------- */
.btn.basic.primary:hover,
.btn.outline.primary:hover,
.btn.raised.primary:hover {
    background-color: var(--color-primary--hover);
    color: var(--color-text);
}

.btn.basic.text:hover,
.btn.outline.text:hover,
.btn.raised.text:hover {
    background-color: var(--color-text--hover);
    color: var(--color-text);
}

.btn.basic.secondary:hover,
.btn.raised.secondary:hover,
.btn.outline.secondary:hover {
    background-color: var(--color-secondary--hover);
    color: var(--color-text);
}

.btn.basic.success:hover,
.btn.raised.success:hover,
.btn.outline.success:hover {
    background-color: var(--color-success--hover);
    color: var(--color-text);
}
.btn.basic.surface:hover,
.btn.raised.surface:hover,
.btn.outline.surface:hover {
    background-color: var(--color-surface--hover);
    color: var(--color-text);
}

.btn.basic.error:hover,
.btn.raised.error:hover,
.btn.outline.error:hover {
    background-color: var(--color-error--hover);
    color: var(--color-text);
}

.btn.basic.confirm:hover,
.btn.raised.confirm:hover,
.btn.outline.confirm:hover {
    background-color: var(--color-confirm--hover);
    color: var(--color-text);
}

.btn.stroked.confirm:hover {
    background-color: var(--color-confirm--hover-faint);
}

.btn.stroked.primary:hover {
    background-color: var(--color-primary--hover-faint);
}
.btn.stroked.secondary:hover {
    background-color: var(--color-secondary--hover-faint);
}
.btn.stroked.success:hover {
    background-color: var(--color-success--hover-faint);
}
.btn.stroked.error:hover {
    background-color: var(--color-error--hover-faint);
}

.btn.stroked.surface:hover {
    background-color: var(--color-surface--hover-faint);
}

.btn.ghost:hover {
    background-color: var(--color-surface--hover-faint);
    color: var(--color-text);
}
/* ---------------- DISABLED ---------------- */
.btn:disabled {
    background-color: var(--color-surface);
    color: var(--color-text--muted);
    cursor: not-allowed;
    border: none;
}

.btn:focus {
    box-shadow: 0 0 0 3px transparent;
}
