<div class="container__login">
    <!-- <div *ngIf="!this.error && !this.success"> -->
    <app-auth [imageBackground]="'assets/images/bugatti_optimized.jpg'">
        <form (ngSubmit)="onSubmit()" [formGroup]="modifyUser">
            <!-- <h2>Modificar Usuario</h2> -->
            <div class="titulo">
                <h2 class="">Modifique su usuario</h2>
            </div>

            <app-form-input
                name="username"
                label="Ingrese un nuevo Nombre de usuario"
                placeholder="nombre de usuario"
                [control]="modifyUser.get('username')!"
                [errorMessages]="userNameErrors"></app-form-input>

            <app-form-input
                name="email"
                label="Ingrese un nuevo email"
                placeholder="pat@example.com"
                [control]="modifyUser.get('email')!"
                [errorMessages]="emailErrors"></app-form-input>

            <div class="d-flex justify-content-end align-items-end">
                <app-form-button text="Enviar" color="warn" [disabled]="modifyUser.invalid"></app-form-button>
            </div>
        </form>

        <div *ngIf="this.success === true" class="formulario">
            <app-success [text]="'Sesión iniciada con exito!'"></app-success>
        </div>
        <div *ngIf="this.error === true && this.success == false" class="">
            <app-message-error [messageError]="'Hubo un problema con su inicio de sesión.'"></app-message-error>
        </div>
    </app-auth>
</div>
