<div *ngIf="!this.error && !this.success" class="container mt-5 d-flex justify-content flex-column align-items-center">
    <h2 class="mt-5">Crea tu cuenta</h2>

    <form class="formulario mt-3" (ngSubmit)="onSubmit()" [formGroup]="contactForm">
        <div class="mb-4">
            <label for="username" class="form-label">Ingrese un nombre de usuario</label>
            <input type="text" class="form-control" id="username" name="username" required formControlName="username">
            <div *ngIf="contactForm.get('username')?.touched && contactForm.get('username')?.errors?.['minlength']"
                class="alert alert-danger">Este Campo es requerido</div>
        </div>
        <div class="mb-4">
            <label for="email" class="form-label">Ingrese un email</label>
            <input type="email" class="form-control" id="email" name="email" required formControlName="email">
            <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['pattern']"
                class="alert alert-danger">Este Campo es requerido</div>
            <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['emailExist'] "
                class="alert alert-danger">Email existente</div>
        </div>
        <div class="mb-4">
            <label for="password1" class="form-label">Ingrese una contraseña</label>
            <input type="password" class="form-control" id="password1" name="password1" required
                formControlName="password1">
            <div *ngIf="contactForm.get('password1')?.touched && contactForm.get('password1')?.errors?.['minlength']"
                class="alert alert-danger">Este Campo es requerido</div>
        </div>
        <div class="mb-4">
            <label for="password2" class="form-label">Confirme la contraseña</label>
            <input type="password" class="form-control" id="password2" name="password2" required
                formControlName="password2">
            <div *ngIf="contactForm.get('password2')?.touched && contactForm.get('password2')?.errors?.['minlength']"
                class="alert alert-danger">Este Campo es requerido</div>
            <div *ngIf="contactForm?.touched && contactForm.errors?.['dateIncorrect']" class="alert alert-danger">Las
                contraseñas no coinciden</div>
        </div>

        <button type="submit" class="btn btn-primary float-end" [disabled]="contactForm.invalid">Enviar</button>

    </form>
</div>

<div *ngIf="this.success" class="marginTop">
    <div class="container mt-5 formulario">
        <h2 class="mt-5">
            Bienvenido {{contactForm.value.username}}!
        </h2>
        <h2 class="mt-5 alert alert-primary">
            Formulario Completado correctamente
        </h2>
    </div>
</div>

<div *ngIf="this.error">
    <div class="container mt-5 errorcontainer">
        <div class="d-flex flex-column justify-content-center mt-5">
            <h1>Ocurrio un error Inesperado</h1>
            <div>
                <button class="btn btn-danger">
                    <a class="navbar-brand fs-3 fw-bold  text-white mx-0" routerLink="">Rental-Car</a>
                </button>
            </div>
        </div>
    </div>
</div>