<div class="success-message">
    <div class="success-message__icon">
        <img [src]="'assets/images/success.png'" class="success-message__icon__img" />
    </div>
    <div class="success-message__content">
        <h3 class="success-message__title">¡La operación fue exitosa!</h3>
        <div class="success-message__content__menssage">
            <h4>{{text}}</h4>
        </div>
        <div class="success-message__menssage_under">
            <h4>serás redirigido en un momento <span class="dot-loader"></span></h4>
        </div>
    </div>
</div>
<div class="success-underline"></div>