<div class="contenedor">
    <div class="layout">
        <div class="item-img">
            <img [src]="imageBackground" alt="image" class="img-fluid">
        </div>
        <div class="item-form">
            <div>
                <ng-content></ng-content> <!-- Aquí se inyectará el formulario -->
                <div class="d-flex justify-content-center">
                    <img [src]="imageUrl" alt="image Car" class="img_Car">
                </div>
            </div>
        </div>
    </div>
</div>