<div *ngIf="cars" class="rental__form">
    <div class="rental__form-title">
        <h1>Alquile un vehiculo</h1>
    </div>
    <h4 class="rental__form-text">Por favor, ingrese las fechas de solicitud</h4>
    <h4>
        Solicitud de {{ this.username }} por renta de
        <span class="rental__form-text--car">{{ this.cars.brand }} {{ this.cars.model }}</span>
    </h4>
    <form (ngSubmit)="onSubmit()" [formGroup]="range" class="container_form">
        <div class="rental__form-actions">
            <div *ngIf="loading; else viewCalendar" class="spinner">
                <app-loading color="confirm"></app-loading>
            </div>
            <ng-template #viewCalendar>
                <app-calendar [range]="range" [idCar]="idCar" [cars]="cars"></app-calendar>
                <!-- <h2 *ngIf="range.invalid && " class="date_invalid">Fecha invalida</h2> -->
                <div class="rental__form-text--confirmation">
                    <p *ngIf="range.errors?.['incompleteRange'] && range.touched" class="date_invalid">Fecha inválida</p>

                    <p
                        *ngIf="!range.invalid && range.get('start')?.value !== null && range.get('end')?.value !== null"
                        class="date_correct">
                        Fecha correcta!
                    </p>
                </div>
            </ng-template>
        </div>
        <h4 class="rental__form-text">Monto a Pagar por dia: {{ this.cars.price }}</h4>
        <h4 class="rental__form-text">Cantidad de días: {{ this.range.value.days }}</h4>
        <h4 class="rental__form-text">Monto total: {{ this.range.value.amount }} Usd</h4>
        <app-btn [text]="'Enviar'" [color]="'primary'" [variant]="'raised'" [buttonType]="'submit'" [isDisabled]="range.invalid"></app-btn>
    </form>
</div>

<ng-template #contentDialog>
    <div *ngIf="!successDialog && !loadingDialog">
        <h2 mat-dialog-title>Confirmación de solicitud</h2>
        <h4>
            Usted a solicitado para las fechas: desde {{ this.data.initialDate | date: 'dd/MM/yyyy' }} hasta
            {{ this.data.finalDate | date: 'dd/MM/yyyy' }}
            <hr />
            Por favor, indique si quiere solicitar o confirmar la solicitud, en caso de confirmar.
            <h4>
                <strong>No podra cancelar la solicitud</strong>
            </h4>
        </h4>
    </div>
    <div *ngIf="loadingDialog && !successDialog">
        <h2>Procesando solicitud...</h2>
        <h5>Aguarde un instante.</h5>
    </div>
    <div *ngIf="!loadingDialog && successDialog">
        <div class="form-car__dialog__success">
            <app-success [text]="'Se a completado el pedido con exito!'"></app-success>
        </div>
    </div>
</ng-template>
<ng-template #btnDialog>
    <div *ngIf="loadingDialog && !successDialog" class="rental__form-bts--loading">
        <app-loading></app-loading>
    </div>
    <div *ngIf="!loadingDialog && !successDialog" class="rental__form-btns">
        <app-btn [text]="'Solicitar'" [color]="'primary'" [variant]="'raised'" (click)="confirmRequest('req')"></app-btn>
        <app-btn [text]="'Solicitar y confirmar'" [color]="'confirm'" [variant]="'raised'" (click)="confirmRequest('con')"></app-btn>
    </div>
</ng-template>
