.how {
    background: #424242;
    position: relative;
    z-index: 20;
    overflow: hidden;
    padding: 5rem;
    padding-bottom: 0;
}

.how::after {
    content: '';
    position: absolute;
    width: 50%;
    left: 82%;
    top: 0%;
    border-bottom: 1093px solid var(--color-primary);
    border-left: 280px solid transparent;
    z-index: 5;
}

.how__title {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    text-align: center;
}

.how__cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 4rem;
    gap: 2.5rem;
}

.how__card {
    width: 220px;
    background: #e6e6e6;
    padding: 1rem;
    color: #111;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 50;
}

.how__card-title {
    margin: 0;
    font-size: 22px;
    height: 56px;
    text-align: center;
}

.how__card-text {
    font-size: 18px;
}

.how__card-text a {
    text-decoration: none;
    color: #d51a27;
    font-weight: bold;
}

@media (max-width: 630px) {
    .how::after {
        display: none;
    }
}
