<div class="show-cars">
    <div class="show-cars__spinner" *ngIf="this.loading === true; else viewNoFount">
        <app-loading></app-loading>
    </div>
    <ng-template #viewNoFount>
        <h2 *ngIf="cars.length < 1">No se han encontrado vehiculos</h2>
    </ng-template>
    <div *ngFor="let autos of cars" class="show-cars__card">
        <div class="image-container show-cars__card-image">
            <img src="{{ autos.image }}" class="card-img-top show-cars__card-image--photo" alt="..." />
        </div>
        <div class="show-cars__card-body">
            <div class="show-cars__card-fields">
                <h5 class="show-cars__card-text--title">{{ autos.brand.toUpperCase() }}</h5>
                <p class="show-cars__card-text--model">{{ autos.model }}</p>
                <p class="show-cars__card-text--year">{{ autos.year }}</p>
                <p class="show-cars__card-text--price">{{ autos.price }} us$</p>
            </div>
            <div class="show-cars__card-actions">
                <app-btn
                    [text]="'Solicitar alquiler'"
                    [color]="'primary'"
                    [variant]="'raised'"
                    (click)="this.goWithCar(autos.id)"></app-btn>
                <app-btn
                    [text]="'Ver Más'"
                    [color]="'text'"
                    [variant]="'stroked'"
                    (click)="abrirModalCar(modalContent, contentActions, autos)"></app-btn>
            </div>
        </div>
        <!-- Scrollable modal -->
        <ng-template #contentActions>
            <app-btn [text]="'Solicitar Alquiler'" [color]="'primary'" [variant]="'raised'" (click)="this.goWithCar(autos.id)"></app-btn>
        </ng-template>
        <ng-template #modalContent>
            <app-modal-car [car]="autos"></app-modal-car>
        </ng-template>
    </div>
</div>

<ng-template #btnDialog>
    <app-btn [text]="'Iniciar sesión'" [variant]="'raised'" [color]="'confirm'" [routerLink]="'/auth/login'"></app-btn>
</ng-template>

<ng-template #contentDialog>
    <div class="loggedBody">
        <h4>
            Debe iniciar sesión para poder solicitad un vehiculo.
            <hr />
            Por favor ingresa con tu cuenta o
            <!-- <a routerLink="/auth/registro" [mat-dialog-close]="true">crea una nueva cuenta</a> -->
            <app-btn [text]="'crea una nueva cuenta'" [variant]="'raised'" [color]="'primary'" [routerLink]="'/auth/registro'"></app-btn>
        </h4>
    </div>
</ng-template>
