<div class="show-cars flex-center mb-14">
  @if (this.loading === true) {
    <div class="show-cars__spinner bg-surface rounded-100 p-4">
      <app-loading></app-loading>
    </div>
  } @else {
    @if (cars.length < 1) {
      <h2>No se han encontrado vehiculos</h2>
    }
  }


  @for (autos of cars; track autos) {
    <div class="show-cars__card bg-surface-3 rounded-md" appScrollAnimate>
      <div class="image-container show-cars__card-image">
        <img src="{{ autos.image }}" class="card-img-top show-cars__card-image--photo" alt="..." (click)="this.goWithCar(autos.id)" />
      </div>
      <div class="show-cars__card-body">
        <div class="show-cars__card-fields pl-2 pr-2 pb-2">
          <div class="show-cars__card-field text-accent mb-1 font-lg">
            <h5 class="show-cars__card-text--title">{{ autos.brand.toUpperCase() }}</h5>
            <p class="show-cars__card-text--price font-xl">{{ autos.price }} us$</p>
          </div>
          <p class="show-cars__card-text--model">{{ autos.model }}</p>
          <p class="show-cars__card-text--year">{{ autos.year }}</p>
        </div>
        <div class="show-cars__card-actions p-2">
          <app-btn [text]="'Solicitar alquiler'" [color]="'primary'" [variant]="'raised'" (click)="this.goWithCar(autos.id)"></app-btn>
          <app-btn
            [text]="'Ver Más'"
            [color]="'text'"
            [variant]="'stroked'"
            (click)="abrirModalCar(modalContent, contentActions, autos)"
          ></app-btn>
        </div>
      </div>
      <!-- Scrollable modal -->
      <ng-template #contentActions>
        <app-btn [text]="'Solicitar Alquiler'" [color]="'primary'" [variant]="'raised'" (click)="this.goWithCar(autos.id)"></app-btn>
      </ng-template>
      <ng-template #modalContent>
        <app-modal-car [car]="autos"></app-modal-car>
      </ng-template>
    </div>
  }
</div>

<ng-template #btnDialog>
  <app-btn [text]="'Iniciar sesión'" [variant]="'raised'" [color]="'confirm'" [routerLink]="'/auth/login'"></app-btn>
</ng-template>

<ng-template #contentDialog>
  <div class="loggedBody">
    <h4 class="font-md mt-6 mb-6">
      Debe iniciar sesión para poder solicitad un vehiculo.
      <hr class="mt-4 mb-4" />
      Por favor ingresa con tu cuenta o
      <app-text-link [text]="'Crea una nueva cuenta'" [color]="'primary'" [routerLink]="'/auth/registro'"></app-text-link>
    </h4>
  </div>
</ng-template>
