
.show-cars {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    border-radius: var(--border-radius);
    /* background: var(--color-primary); */
    /* margin-top:; */

    &__spinner {
        height: 220px;
        width: 220px;
        background: var(--color-surface);
        padding: 10px;
        border-radius: 100%;
    }
     &__card {
        background: var(--color-surface);
        width: 22rem;
        overflow: hidden;
        border-radius: var(--border-radius);

         &-image {
            display: inline-block;
            /* border-radius: var(--border-radius); */
            /* margin: 10px; */
            padding: 0.4rem;

            &--photo {
                height: 350px;
                border-radius: var(--border-radius);
            }
        }

        &-fields {
            /* gap: 0.5rem; */
            padding: 0.3rem 0rem 0rem 0.3rem;
            position: relative;
            /* background-color: var(--color-background-black); */
        }
        &-actions {
            padding: 0.3rem 0.3rem 0.2rem 0.3rem;
        }

        &-text{
            &--title {
            color: var(--color-accent);
            font-size: var(--font-size-xl);
            }
            &--model {
                display: inline-block;
                padding-right: 0.3rem;
                color: var(--color-text--muted);
                font-size: var(--font-size-md);
            }

            &--year {
                display: inline-block;
                color: var(--color-text--muted);
                font-size: var(--font-size-sm);
            }

            &--price {
                position: absolute;
                top: 6px;
                right: 6px;
                color: var(--color-accent);
                font-size: var(--font-size-md);
            }
        }
    }
}
.card_blur:active {
    border: 1px solid var(--color-primary);
}
