
.show-cars {
    flex-wrap: wrap;
    gap: 2rem;

    &__spinner {
        height: 220px;
        width: 220px;
    }
     &__card {
        width: 22rem;
        overflow: hidden;
         &-image {
            display: inline-block;
            /* border-radius: var(--border-radius); */
            /* margin: 10px; */
            padding: 0.4rem;

            &--photo {
                height: 350px;
                border-radius: var(--border-radius);
            }
        }

        &-field{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }
}
.card_blur:active {
    border: 1px solid var(--color-primary);
}
