.contenedor_cars {
    /* max-height: 40vh; */
    /* background: rgb(242, 242, 242); */

}

.card-background {
    background: var(--color-surface);
}

.card-color {
    color: var(--color-primary);
}

.card_blur:active {
    border: 1px solid var(--color-primary);
}

.spinner-container {
    height: 220px;
    width: 220px;
    background: var(--color-surface);
    padding: 10px;
    border-radius: 100%;
}
