<div class="show-cars">
    <div class="show-cars__spinner" *ngIf="this.loading === true; else viewNoFount">
        <app-loading></app-loading>
    </div>
    <ng-template #viewNoFount>
        <h2 *ngIf="cars.length < 1">No se han encontrado vehiculos</h2>
    </ng-template>
    <div *ngFor="let autos of cars" class="show-cars__card">
        <div class="image-container show-cars__image">
            <img src="{{ autos.image }}" class="card-img-top show-cars__image--photo" alt="..." />
        </div>
        <div class="show-cars__card-body">
            <div class="show-cars__card-fields">
                <h5 class="show-cars__card-text--title">{{ autos.brand.toUpperCase() }}</h5>
                <p class="show-cars__card-text--model">{{ autos.model }}</p>
                <p class="show-cars__card-text--year">{{ autos.year }}</p>
                <p class="show-cars__card-text--price">{{ autos.price }} us$</p>
            </div>
            <div class="show-cars__card-actions">
                <app-btn
                    [text]="'Solicitar alquiler'"
                    [color]="'primary'"
                    [variant]="'raised'"
                    (click)="this.goWithCar(autos.id)"></app-btn>
                <app-btn
                    [text]="'Ver Más'"
                    [color]="'text'"
                    [variant]="'stroked'"
                    data-bs-toggle="modal"
                    [attr.data-bs-target]="'#staticBackdrop' + autos.id"></app-btn>
            </div>
        </div>
        <div
            class="modal fade"
            id="staticBackdrop{{ autos.id }}"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content card-background">
                    <div class="modal-header">
                        <app-btn [text]="'X'" [color]="'text'" [variant]="'raised'" data-bs-dismiss="modal" aria-label="Close">"></app-btn>
                    </div>
                    <div class="modal-body">
                        <img src="{{ autos.image }}" class="card-img-top" alt="..." style="height: 30rem" />
                        <h5 class="card-title">{{ autos.brand.toUpperCase() }} {{ autos.model }} {{ autos.year }}</h5>
                        <p class="card-text">
                            <strong>Precio:</strong>
                            {{ autos.price }} us$
                        </p>
                        <div>
                            <h2>Especificaciones:</h2>
                            <p>
                                <strong>Motor:</strong>
                                {{ autos.engine }}
                            </p>
                            <p>
                                <strong>Potencia:</strong>
                                {{ autos.power }}
                            </p>
                            <p>
                                <strong>Par Motor:</strong>
                                {{ autos.torque }}
                            </p>
                            <p>
                                <strong>Velocidad Máxima:</strong>
                                {{ autos.max_speed }}
                            </p>
                            <p>
                                <strong>Aceleración:</strong>
                                {{ autos.acceleration }}
                            </p>
                            <p>
                                <strong>Consumo:</strong>
                                {{ autos.consumption }}
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <app-btn [text]="'Borrar'" [color]="'confirm'" [variant]="'raised'" data-bs-dismiss="modal"></app-btn>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scrollable modal -->
</div>
