<nav class="nav-bar">
    <div class="nav-bar__container">
        <a routerLink="" class="title">
            <span class="title">Rental-Car</span>
        </a>
        <span class="spacer"></span>

        <div class="nav-bar__links">
            <app-btn [routerLink]="'/contacto'" [text]="'Contáctanos'" [color]="'text'" [variant]="'basic'"></app-btn>

            <app-btn
                *ngIf="islogged"
                [routerLink]="'/usuario'"
                [text]="usuario.username"
                [color]="'primary'"
                [variant]="'stroked'"></app-btn>
            <app-btn *ngIf="islogged" [text]="'Cerrar sesión'" [color]="'confirm'" [variant]="'stroked'" (click)="logout()"></app-btn>

            <app-btn
                *ngIf="!islogged"
                [routerLink]="'/auth/registro'"
                [text]="'Registrarse'"
                [color]="'text'"
                [variant]="'basic'"></app-btn>
            <app-btn
                *ngIf="!islogged"
                [routerLink]="'/auth/login'"
                [text]="'Iniciar sesión'"
                [color]="'text'"
                [variant]="'basic'"></app-btn>

            <app-btn [routerLink]="'/'" [text]="'Inicio'" [color]="'text'" [variant]="'basic'"></app-btn>
        </div>
    </div>
</nav>
<ng-template #viewLogout>
    <a mat-stroked-button color="warn" routerLink="" (click)="this.logout()">Cerrar sesión</a>
</ng-template>
