.spacer {
    flex: 1 1 auto;
}

.nav-bar {
    position: fixed;
    z-index: 100;
    background: var(--color-background--2);
    transition: background 0.3s;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    height: 64px;
    /* backdrop-filter: saturate(180%) blur(10px); */
    white-space: nowrap;
    color: var(--color-text);
    font: 500 var(--font-size-xl) / 32px var(--font-title);
    letter-spacing: normal;
    /* margin: auto; */
}

.nav-bar__container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: var(--app-container-2xl);
    margin: 0 auto;
    height: 100%;

    /* padding: 0 30px; */
    padding-left: clamp(1rem, 4vw, 3.1rem);
    padding-right: clamp(1rem, 4vw, 1.8rem);
}
.nav-bar__links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nav-bar:hover {
    background: var(--color-background-black);
}

a {
    text-decoration: none;
    color: #fff;
    margin: 0px 3px;
}

.title {
    display: inline;
}

@media (max-width: 425px) {
    .title {
        display: none;
    }
}
