.pagination {
  &-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 16px;
  }
  &-buttons {
    display: flex;
  }

  &-buttons button {
    background-color: transparent;
    border: 1px solid var(--color-surface);
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    font-size: 14px;
    transition:
      background-color 0.2s,
      color 0.2s;
  }

  &-buttons button:hover,
  &-buttons button.active {
    background-color: var(--color-surface);
    color: #ffffff;
    font-weight: bold;
  }
}
