.user {
    min-height: 65vh;
    padding: 0 12rem;
    box-sizing: content-box;
}

.user__title,
.user__subtitle {
    padding-left: 1rem;
}

.user__actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px) {
    .user__actions {
        flex-direction: row;
    }
}

.user__table {
    width: 100%;
    overflow-x: auto; /* solo aparece la barra si se pasa el contenido */
    overflow-y: hidden;
}

@media (max-width: 768px) {
    .user {
        padding: 0;
    }
}
