<div class="app-container marginTop user">
    <h2 class="user__title">Bienvenido {{ this.user.username }}</h2>

    <div class="user__actions">
        <app-btn
            [routerLink]="'/usuario/modificar-usuario'"
            [text]="'Modificar Usuario'"
            [color]="'secondary'"
            [variant]="'raised'"></app-btn>

        <app-btn [routerLink]="'/usuario/modificar-pass'" [text]="'Modificar contraseña'" [color]="'error'" [variant]="'raised'"></app-btn>

        <app-btn [routerLink]="'/solicitar-auto'" [text]="'Solicitar auto'" [color]="'primary'" [variant]="'raised'"></app-btn>
    </div>

    <h2 class="user__subtitle">Información de todas las solicitudes :</h2>

    <div class="user__table">
        <app-table-rental [user]="this.user"></app-table-rental>
    </div>
</div>
