@use 'helpers' as v;

.modal-car {

    &__content {
        max-width: 800px;
        width: 100%;
        max-height: 90vh;
        overflow-y: auto;
        display: flex;
        justify-content: flex-start;
        gap: .7rem;
    }

    &__body {

        &-image {
            width: 100%;
            object-fit: contain;
            height: 8rem;
            @include v.media-up(sm) {
                    height: 14rem;
            }
            @include v.media-up(xl){
                height: 20rem;
            }
            @include v.media-up(lg) {
                    height: 30rem;
            }

        }

    }
}
