.modal-car {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-car__content {
    background: var(--color-background);
    border-radius: 12px;
    padding: 2rem;
    max-width: 800px;
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
}

.modal-car__header {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
}

.modal-car__body {
    margin-top: 0px;
}

.modal-car__body-image {
    width: 100%;
    object-fit: cover;
}

.modal__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}
