// theme/_variables.scss

// Fuentes
$fonts: (
  title: ('Lora', serif),
  body: ('Inter', sans-serif)
);


// Containers (breakpoints o max-widths)
$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  x2l: 1600px
);

// Spacing (margin, padding)
$spacing: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  8: 2rem,
  10: 2.5rem,
  12: 3rem,
  13: 3.5rem,
  14: 4rem,
  15: 5rem,
  16: 6rem
);


// Font sizes
$font-sizes: (
  xs: 0.75rem,
  sm: 0.875rem,
  base: 1rem,
  md: 1.125rem,
  lg: 1.25rem,
  xl: 1.5rem,
  x2l: 2rem,
  x3l: 2.5rem,
  x4l: 3rem,
  x5l: 3.75rem
);

// Border radius
$radius: 0.5rem;

// Colores principales
$colors: (
  primary: #d63a3a,
  confirm: #b02c55,
  secondary: #3a6ebf,
  accent: #ffb74d,
  success: #4caf50,
  error: #cc1e2c,
  text: #ffffff,
  muted: #b0b0b0,
  muted-hover: #e0e0e0,
  black:#0f0f0f
);

// Colores hover (opacos)
$colors-hover: (
  primary: #b02a2a,
  confirm: #9a2146,
  secondary: #305fa6,
  accent: #ff9800,
  success: #388e3c,
  error: #99171f,
  text: #ffffff05
);

// Colores hover faint
$colors-hover-faint: (
  primary: rgba(214, 58, 58, 0.05),
  confirm: rgba(176, 44, 85, 0.05),
  secondary: rgba(58, 110, 191, 0.05),
  accent: rgba(255, 183, 77, 0.05),
  success: rgba(76, 175, 80, 0.05),
  error: rgba(204, 30, 44, 0.05)
);

// Fondos y superficies
$bg: (
  white: #ffffff,
  surface: #393939,
  background: #1e1e1e,
  background-2: #121212bb,
  black: #0f0f0f,
  black-faint: #0f0f0f94
);
