<ng-template #contentDialog class="loggedBody">
    <div *ngIf="!success && !loading">
        <h2 mat-dialog-title>Confirmación de solicitud</h2>
        <h4>
            Usted a solicitado para las fechas: desde {{ this.data.initialDate | date: 'dd/MM/yyyy' }} hasta
            {{ this.data.finalDate | date: 'dd/MM/yyyy' }}
            <hr />
            Por favor, indique si quiere solicitar o confirmar la solicitud, en caso de confirmar.
            <h4>
                <strong>No podra cancelar la solicitud</strong>
            </h4>
        </h4>
    </div>
    <div *ngIf="loading && !success">
        <h2>Procesando solicitud...</h2>
        <h5>Aguarde un instante.</h5>
    </div>
    <div *ngIf="!loading && success">
        <app-success [text]="'Se a completado el pedido con exito!'"></app-success>
    </div>
</ng-template>
<ng-template class="d-flex justify-content-between flex-wrap" #btnDialog>
    <app-btn [text]="'Cancelar'" [color]="'surface'" [variant]="'stroked'" (click)="close()"></app-btn>
    <app-btn [text]="'Solicitar'" [color]="'primary'" [variant]="'raised'" (click)="request()"></app-btn>
    <app-btn [text]="'Solicitar y confirmar'" [color]="'confirm'" [variant]="'raised'" (click)="confirm()"></app-btn>
</ng-template>
