<div class="mod-pass">
  <app-auth [imageBackground]="'assets/images/camaro_opt.jpg'">
    @if (loading === true) {
      <div class="mod-pass__spinner-container mt-20">
        <app-loading class="mod-pass" [color]="'accent'"></app-loading>
      </div>
    } @else {
      @if (this.success === false) {
        <form
          (ngSubmit)="onSubmit()"
          [formGroup]="modifyPass"
          class="mod-pass__form"
          >
          <div class="mod-pass__form-title mb-8">
            <h3>Modificar constraseña</h3>
          </div>
          <div class="mod-pass__form-field mb-4">
            <app-input
              [label]="'Ingrese una nueva contraseña'"
              [type]="'text'"
              [placeholder]="'*****'"
              [control]="password1Control"
            ></app-input>
          </div>
          <div class="mod-pass__form-field mb-12">
            <app-input
              [label]="'Ingrese nuevamente la nueva contraseña'"
              [type]="'text'"
              [placeholder]="'*****'"
              [control]="password2Control"
            ></app-input>
          </div>
          <div class="mod-pass__form-actions mb-4">
            <app-btn
              [text]="'Modificar contraseña'"
              [color]="'confirm'"
              [variant]="'raised'"
              [buttonType]="'submit'"
              [isDisabled]="modifyPass.invalid || modifyPass.pending"
            ></app-btn>
          </div>
        </form>
      }
    }


    <!-- <div class="marginTop main contenedor_pass"> -->
    @if (this.success === true) {
      <div>
        <app-success [text]="'Cambio de contraseña correcto!'"></app-success>
      </div>
    }
    @if (this.error === true && this.success == false) {
      <div class="">
        @if (samePass.show) {
          <app-message-error
            [messageError]="'Hubo un problema, su contraseña no pudo ser modifiada.'"
            [descriptionError]="this.samePass.show ? this.samePass.msg : ''"
          ></app-message-error>
        }
      </div>
    }
  </app-auth>
</div>
