.contenedor_pass {
    min-height: 65vh;
}

.mod-pass {
    /* container principal si querés seguir extendiéndolo */
}
.mod-car__spinner-container {
    display: flex;
    justify-content: center;
}
.mod-car__spinner {
    height: 120px;
    width: 120px;
}

.mod-pass__form {
    width: 100%;
}

.mod-pass__title {
    margin-bottom: 1em;
    width: 100%;
    color: var(--color-text);
}

.mod-pass__title h2 {
    text-align: center;
    font-size: 2.2rem;
    margin: 2rem 0;
}

.mod-pass__form-field {
    margin-bottom: 0.75rem;
}

.mod-pass__form-actions {
    margin-top: 1.25rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.mod-pass__success {
    margin-top: 2rem;
}

.mod-pass__error {
    margin-top: 2rem;
}
