<div class="dialog">
    <div class="dialog__backdrop"></div>

    <div class="dialog__container">
        <!-- Header -->
        <div class="dialog__header">
            <span class="title">Rental-Car</span>
            <div class="dialog__titles">
                <h2 class="dialog__title">{{ data.title }}</h2>
            </div>
            <button *ngIf="showClose" class="dialog__close" (click)="close()">✖</button>
        </div>

        <div class="dialog__divider"></div>

        <!-- Cuerpo dinámico -->
        <div class="dialog__body">
            <ng-container *ngTemplateOutlet="data.content"></ng-container>
        </div>

        <!-- Footer -->
        <div class="dialog__footer">
            <div class="dialog__footer-left">
                <!-- <app-btn  (click)="close()">Cerrar</app-btn> -->
                <app-btn [text]="'Cerrar'" [variant]="'raised'" [color]="'error'" (click)="close()"></app-btn>
            </div>
            <div class="dialog__footer-right" *ngIf="data.actions">
                <ng-container *ngTemplateOutlet="data.actions"></ng-container>
            </div>
        </div>
    </div>
</div>
