.dialog {
  position: fixed;
  inset: 0;

  z-index: 2000;

  &__backdrop {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  &__container {
    position: relative;
    padding: 2rem;
    max-width: var(--app-container-2xl);
    margin: auto;
    width: 90%;
    max-width: 640px;
    display: flex;
    z-index: 1;
    box-sizing: border-box;
    max-height: 90vh;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  &__logo {
    height: 2rem;
    width: auto;
  }

  &__titles {
    flex: 1;
  }

  &__title {
    margin: 0;
  }

  &__close {
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }

  &__divider {
    height: 1px;
    width: 40%;
    align-self: center;
  }

  &__body {
    flex: 1;
    overflow-y: auto;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
