.filter-cars {
    background: var(--color-surface);
    padding: 1rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filter-cars__title {
    font-size: var(--font-size-xl);
    font-family: var(--font-title);
    margin: 0;
}

.filter-cars__inputs {
    display: flex;
    gap: 1rem;
    padding-right: 0;
    flex-wrap: wrap;
}

.filter-cars__input {
    flex: 1 1 250px;
    min-width: 200px;
}

.filter-cars__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 0.75rem;
    padding-right: 1rem;
}

.filter-cars__label {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-sm);
    font-weight: 500;
}
