.filter-cars {
    display: flex;
    gap: 1rem;

    &__title {
        font-size: var(--font-size-xl);
        font-family: var(--font-title);
        margin: 0;
    }

    &__inputs {
        display: flex;
        gap: 1rem;
        padding-right: 0;
        flex-wrap: wrap;
    }

    &__input {
        flex: 1 1 250px;
        min-width: 200px;
    }

    &__actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        gap: 0.75rem;
        padding-right: 1rem;
    }

    &__label {
        font-weight: 500;
}
}
