.rental {
    min-height: 66vh;
}

.rental__container {
    display: grid;
    grid-template-columns: 8fr 1fr 3fr;
    grid-template-areas:
        'stepper stepper stepper'
        'form spacer card';
    gap: 0.5rem;
    max-width: 1280px;
    margin: 0 auto;
    /* padding: 2rem; */
}

.rental__stepper {
    grid-area: stepper;
}

.rental__card {
    grid-area: card;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

@media (max-width: 768px) {
    .rental__container {
        grid-template-columns: 1fr;
        grid-template-areas:
            'stepper'
            'form'
            'card';
    }
}
