<div class="app-container marginTop rental mb-16">
  <div class="rental__container">
    <div class="rental__stepper mt-12 mb-12 bg-background-2 pt-12 rounded-md">
      <app-stepper [steps]="stepsDescription" [currentStep]="step"></app-stepper>
    </div>

    <app-form-car (stepChanged)="step = $event" [idCar]="idCar" [cars]="cars" [user]="user"></app-form-car>
    @if (cars) {
      <div class="rental__card flex-center flex-col">
        <app-card-car [car]="cars"></app-card-car>
      </div>
    }
  </div>
</div>