<div class="app-container marginTop rental" color="primary">
    <div class="rental__container">
        <div class="rental__stepper">
            <app-stepper [steps]="['Seleccionar auto', 'Elegir fechas', 'Confirmación']" [currentStep]="step"></app-stepper>
        </div>

        <app-form-car (stepChanged)="step = $event" [idCar]="idCar" [cars]="cars" [user]="user"></app-form-car>
        <div *ngIf="cars" class="rental__card">
            <app-card-car [car]="cars"></app-card-car>
        </div>
    </div>
</div>
