<div class="container marginTop rental" color="primary">
    <div class="rental__container">
        <div class="rental__stepper">
            <app-stepper [steps]="['Seleccionar auto', 'Elegir fechas', 'Confirmación']" [currentStep]="step"></app-stepper>
        </div>
        <div class="rental__form">
            <div class="rental__form-title">
                <h1>Alquile un vehiculo</h1>
            </div>

            <app-form-reactivo (stepChanged)="step = $event" [idCar]="idCar" [cars]="cars"></app-form-reactivo>
        </div>
        <div class="rental__card">
            <aside class="rental__card__content">
                <div class="rental__card-image__wrapper">
                    <div *ngIf="!imageLoaded" class="skeleton-image"></div>
                    <img
                        [src]="cars?.image"
                        alt="Car image"
                        class="rental__image__car"
                        (load)="onImageLoad()"
                        [class.hidden]="!imageLoaded" />
                </div>
                <div class="rental__card-info__model">
                    <div class="rental__card-info__name">
                        <label>Modelo:</label>
                        <h2>{{ cars?.brand }} {{ cars?.model }}</h2>
                    </div>
                    <div class="rental__card-info__price">
                        <label>Precio por día:</label>
                        <h2>{{ cars?.price }}</h2>
                    </div>
                    <div class="rental__card-info__year">
                        <label>año:</label>
                        <h2>{{ cars?.year }}</h2>
                    </div>
                </div>
                <div class="rental__card-info__button">
                    <div>
                        <a mat-raised-button color="warn" routerLink="/solicitar-auto" class="rental__card-button__change-car">
                            Solicitar otro vehiculo
                        </a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>
