<div class="success-message">
    <div class="success-message__icon">
        <img [src]="'assets/images/success.webp'" class="success-message__icon__img" />
    </div>
    <div class="success-message__content">
        <h3 class="success-message__title">¡La operación fue exitosa!</h3>
        <div class="success-message__content__message">
            <h4>{{ text }}</h4>
        </div>
        <div class="success-message__message_under">
            <h4>
                Serás redirigido en un momento
                <span class="dot-loader"></span>
            </h4>
        </div>
    </div>
</div>
<div class="success-underline"></div>
