<app-navbar></app-navbar>
<div class="container pt-3">
    <div class="d-flex justify-content-center mt-5">
        <h1>Rental Car</h1>
    </div>
    <div class="row contenedor_carrousel">
        <!-- <div class="col-2"></div> -->
        <div class="texto_bienvenida">
            <p>Bienvenido a Rental Car!</p>
            <p> Aqui podrás alquilar el auto de tus sueños.</p>
        </div>
        <div id="carouselExampleFade" class="carousel slide carousel-fade col-12 carrousel_home" data-bs-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Red_2019_Ferrari_SF90_Stradale_%2848264238897%29.jpg/800px-Red_2019_Ferrari_SF90_Stradale_%2848264238897%29.jpg?20190721124433" class="d-block w-100 imagen_carrousel" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://www.autobild.es/sites/autobild.es/public/styles/855/public/dc/fotos/Ferrari_SF90_Stradale_002.jpg?itok=HCBgJVkS" class="d-block w-100 imagen_carrousel" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://www.autobild.es/sites/autobild.es/public/styles/855/public/dc/fotos/Ferrari-sf90-stradale.jpg?itok=hIMHrOop" class="d-block w-100 imagen_carrousel" alt="...">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>        
    </div>
    
    <div class="mt-5">
        <app-cars></app-cars>
    </div>
</div>
<app-footer></app-footer>