@use 'theme/variables' as v;

.form-input {
  display: flex;
  gap: 0.4rem;

  &__label {
    font-weight: 600;
  }

  &__field {
    display: flex;
    align-items: center;

    input {
      width: 100%;
      transition: border 0.2s ease;

      &:focus {
        outline: none;
        border-color: map-get(v.$colors, primary);
      }
      &.input-error {
        border-color: map-get(v.$colors, error);
      }
    }

    .form-input__toggle {
      position: absolute;
      right: 0.75rem;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1rem;
      line-height: 1;
    }
  }

  &__error,
  &__error-placeholder {
    color: map-get(v.$colors, error);
    font-size: 0.8rem;
    min-height: 1.3rem;
  }
}
