<div>
    <app-auth [imageBackground]="'assets/images/superdeportivo_optimized.jpg'">
        <form *ngIf="!this.error && !this.success" class="register-form" (ngSubmit)="onSubmit()" [formGroup]="registerForm">
            <div class="register-form__title">
                <h2 class="register-form__title-text">Crea una cuenta</h2>
            </div>

            <div class="register-form__field">
                <mat-form-field class="register-form__input" appearance="fill">
                    <mat-label>Ingrese un usuario</mat-label>
                    <input
                        class="register-form__input-fill"
                        matInput
                        placeholder="ingrese un nombre de usuario"
                        id="username"
                        name="username"
                        formControlName="username"
                        required />
                    <mat-error *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.errors?.['minlength']">
                        Este campo es requerido
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.errors?.['usernameExist']">
                        El usuario ya existe
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="register-form__field">
                <mat-form-field class="register-form__input" appearance="fill">
                    <mat-label>Ingrese un email</mat-label>
                    <input matInput placeholder="pat@example.com" id="email" name="email" formControlName="email" required />
                    <mat-error *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['pattern']">
                        Este Campo es requerido
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['emailExist']">
                        El email es invalido
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="register-form__field">
                <mat-form-field class="register-form__input" appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input
                        matInput
                        [type]="hide ? 'password' : 'text'"
                        id="password1"
                        name="password1"
                        required
                        formControlName="password1" />
                    <mat-error *ngIf="registerForm.get('password1')?.errors?.['minlength']">Este Campo es requerido</mat-error>
                    <button
                        type="button"
                        mat-icon-button
                        matSuffix
                        (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <div class="register-form__field">
                <mat-form-field class="register-form__input" appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input
                        matInput
                        [type]="hide ? 'password' : 'text'"
                        id="password2"
                        name="password2"
                        required
                        formControlName="password2" />
                    <mat-error *ngIf="registerForm.get('password2')?.errors?.['minlength']">Este Campo es requerido</mat-error>
                    <button
                        type="button"
                        mat-icon-button
                        matSuffix
                        (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <mat-error *ngIf="registerForm.errors?.['passNoRepeat']">Las contraseñas no coinciden</mat-error>

            <p class="register-form__link">
                Ya tenés una cuenta?
                <a mat-button routerLink="/auth/login">Iniciar sesión</a>
            </p>

            <div class="register-form__action">
                <app-btn
                    [text]="'Enviar'"
                    [color]="'primary'"
                    [variant]="'raised'"
                    [buttonType]="'submit'"
                    [isDisabled]="registerForm.invalid"></app-btn>
            </div>
        </form>

        <div *ngIf="this.success" class="register-form__success">
            <app-success [text]="'Sesión iniciada con éxito!'"></app-success>
        </div>

        <div *ngIf="this.error" class="register-form__error">
            <div class="register-form__error-content">
                <h1>Ocurrió un error inesperado</h1>
                <app-btn [text]="'Volver al inicio'" [color]="'error'" [variant]="'raised'" [routerLink]="'/'"></app-btn>
            </div>
        </div>
    </app-auth>
</div>
