.register-form__input {
    display: block;
}

.register-form__title {
    width: 100%;
    color: var(--color-text);
}

.register-form__title-text {
    text-align: center;
    font-size: var(--font-size-2xl);
    margin-bottom: 2rem;
}

.register-form__field {
    margin-bottom: 0.75rem;
}

.register-form__input-fill {
    /* Podés agregar estilos específicos si es necesario */
}

.register-form__link {
    margin-top: 1rem;
}

.register-form__action {
    /* display: flex;
    justify-content: flex-end;
    align-items: flex-end; */
}

.register-form__success {
    /* Estilos del mensaje de éxito */
}

.register-form__error {
    margin-top: 5rem;
}

.register-form__error-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
}

/* ================= MEDIA QUERIES ================= */

@media (max-width: 1023px) {
    .formularios {
        grid-template-columns: repeat(1, 1fr);
    }

    .item-2 {
        display: none;
    }

    .register-form {
        min-width: none;
        grid-column: 1 / span 1;
    }

    .img_background {
        display: none;
    }

    .contenedor {
        display: block;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 625px) {
    .formularios {
        padding: 0px;
    }
}
