
<h2>Login</h2>


<form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
  <div class="mb-4">
      <label for="email" class="form-label" >Ingrese su email</label>
      <input type="text" class="form-control" id="email" name="email"  required formControlName="email">
      <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['minlength']"
       class="alert alert-danger">Este Campo es requerido</div>
  </div>
  <div class="mb-4">
    <label for="password" class="form-label" >Ingrese su contraseña</label>
    <input type="text" class="form-control" id="password" name="password"  required formControlName="password">
    <div *ngIf="contactForm.get('password')?.touched && contactForm.get('password')?.errors?.['minlength']"
     class="alert alert-danger">Este Campo es requerido</div>
</div>

  <button type="submit" class="btn btn-primary float-end"
        [disabled]="contactForm.invalid">Enviar</button>

</form>
