.container_login {
    min-height: 68vh;
}

.contentInput label {
    font-size: 18px;
}

.formulario {
    width: 600px;
    margin-bottom: 2.5rem;
}

.contentCheckbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 625px) {
    .formulario {
        width: 400px;
    }
}

@media (max-width: 475px) {
    .formulario {
        width: 200px;
    }
}