@use '/src/styles/components/skeleton.scss';
@use 'animations';

.rental__card {
  &__content {
    display: grid;
    width: 100%;
    min-height: 458px;
    overflow: hidden;
    box-shadow:
      rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    grid-template-areas:
      'wrapper'
      'model'
      'button';

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      z-index: 0;
      animation: fillBackgroundUp 1.5s ease-out forwards;
    }

    > * {
      position: relative;
      z-index: 1;
    }
  }

  &-image {
    &__wrapper {
      grid-area: wrapper;
      height: 18rem;
      width: 19rem;
      box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.16);
    }
    &__car {
      width: 100%;
      height: 100%;
      object-fit: cover;
      //   max-height: 17rem;
      &.hidden {
        display: none;
      }
    }
  }

  &-info {
    z-index: 1000;
    &__model {
      grid-area: model;
      display: grid;
      grid-template-areas:
        'name name'
        'price year';
      // grid-gap: 1rem;
      border-left: 0px;
      // border-radius: 1rem 1rem 0rem 0rem;
    }

    &__name {
      grid-area: name;
      border-left: 0px;
      border-right: 0px;
      // border-radius: 1rem 1rem 0rem 0rem;
      // border-radius: 1rem 1rem 0rem 0rem;
    }

    &__price {
      grid-area: price;
      border-left: 0px;
    }

    &__year {
      grid-area: year;
      border-left: 0px;
      border-right: 0px;
    }

    &__button {
      z-index: 1;
      grid-area: button;
      border-left: 0px;
      border-right: 0px;

      border-top: 0px;
      // border-radius: 0rem 0rem 1rem 1rem;
    }
  }
}
