<div class="table-wrapper relative">
  <table *ngIf="data !== null" class="styled-table">
    <thead *ngIf="data.length > 0">
      <tr>
        <th *ngFor="let col of columns">
          <button (click)="orderBy(col.key)">
            {{ col.label }}
          </button>
        </th>
        <th *ngIf="actionsTemplate">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let col of columns">
          <ng-container *ngIf="col.link; else plainText">
            <a [routerLink]="['/solicitar-auto']" [queryParams]="getQueryParams(col, row)">
              {{ row[col.key] }}
            </a>
          </ng-container>
          <ng-template #plainText>
            {{ row[col.key] }}
          </ng-template>
        </td>
        <td *ngIf="actionsTemplate">
          <ng-container
            *ngTemplateOutlet="actionsTemplate; context: { $implicit: row }"
          ></ng-container>
        </td>
      </tr>
      <tr *ngIf="data.length === 0">
        <td [attr.colspan]="columns.length + (actionsTemplate ? 1 : 0)">No hay datos</td>
      </tr>
    </tbody>
  </table>
</div>
