<div class="form-textarea flex-col">
  <label class="form-textarea__label font-sm">{{ label }}</label>

  <textarea
    [formControl]="control"
    [placeholder]="placeholder"
    [class.textarea-error]="showError"
    class="textarea font-md font-medium bg-surface-2 text-white border-surface rounded-md pt-2 pb-2 pr-3 pl-3"
    rows="4"
  ></textarea>

  @if (showError) {
    <div class="form-textarea__error text-error font-xs">
      @if (control.errors?.['required']) {
        <span>Este campo es obligatorio</span>
      }
      @if (control.errors?.['minlength']) {
        <span>
          Debe tener al menos {{ control.errors?.['minlength']?.requiredLength }} caracteres
        </span>
      }
      @if (control.errors?.['email']) {
        <span>Formato de email inválido</span>
      }
      @if (control.errors?.['usernameExist']) {
        <span>El usuario ya existe</span>
      }
      @if (control.errors?.['emailExist']) {
        <span>El email es invalido</span>
      }
      @if (control.errors?.['passNoRepeat']) {
        <span>Las contraseñas no coinciden</span>
      }
      <!-- Otros errores posibles -->
    </div>
  }
</div>
