<h4>Por favor, Ingrese las fechas de solicitud</h4>
<h4>Solicitud de {{this.username}} por renta de {{this.cars?.brand}} {{this.cars?.model}}</h4>
<form (ngSubmit)="onSubmit()" [formGroup]="range">

  <div class="mb-4">
      <mat-spinner *ngIf="loading;else viewCalendar"></mat-spinner>
      <ng-template #viewCalendar>
        <app-calendar [range]="range" [idCar]="idCar" [cars]="cars"></app-calendar>
      </ng-template>
    </div>
    <h4>Monto a Pagar por dia: {{this.cars?.price}}</h4>
    <h4>Cantidad de días: {{this.range.value.days}}</h4>
    <h4>Monto total: {{this.range.value?.amount}} Usd</h4>
    <button type="submit" class="btn btn-primary float-end"
        [disabled]="range.invalid"
        >Enviar</button>

</form>

