<h2>Alquiler de vehiculo</h2>

<form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
    <div class="mb-4">
        <label for="name" class="form-label" >Nombre del solicitante</label>
        <input type="text" class="form-control" id="name" name="name"  required formControlName="name">
        <div *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['minlength']"
         class="alert alert-danger">Este Campo es requerido</div>
    </div>
    <div class="mb-4">
        <label for="checkAdult" class="form-label">Eres mayor de 18 años?</label>
        <input type="checkbox" class="form-check-input" id="checkAdult" formControlName="checkAdult"   >
        <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Este Campo es requerido</div> -->
    </div>
    <div class="mb-4">
        <label for="dateInitial" class="form-label">Fecha de Inicio</label>
        <input type="date" class="" id="dateInitial" formControlName="dateInitial"   >
        <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Este Campo es requerido</div> -->
    
        <label for="dateEnd" class="form-label">Fecha de Entrega</label>
        <input type="date" class="" id="dateEnd" formControlName="dateEnd"   >
        <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Este Campo es requerido</div> -->
    </div>
    
    <div class="mb-4 ">
        <label for="select" class="form-label">Que vehiculo estas buscando?</label>
        <select class="form-select form-select-sm" id="select"  formControlName="select"  required>
            <option value="" selected disabled>Seleccione una opción</option>
            <option value="marketing">marketing</option>
            <option value="sales">ventas</option>
            <option value="otros">otros</option>

        </select>
        <!-- <div [hidden]="select.valid || select.pristine" class="alert alert-danger">Este Campo es requerido</div> -->
    </div>
    <div class="mb-4">
        <label for="comment" class="form-label">Comentario</label>
        <textarea name="comment" type="text" class="form-control" id="comemnt" formControlName="comment" required rows="4" ></textarea>
        <!-- <div [hidden]="comment.valid || comment.pristine" class="alert alert-danger">Este Campo es requerido</div> -->
    </div>
    <button type="submit" class="btn btn-primary float-end"
        [disabled]="contactForm.invalid">Enviar</button>
    
</form>