<h2>Complete el formulario</h2>

<form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
    <div class="mb-4">
        <label for="name" class="form-label" >Nombre del solicitante</label>
        <input type="text" class="form-control" id="name" name="name"  required formControlName="name">
        <div *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['minlength']"
         class="alert alert-danger">Este Campo es requerido</div>
    </div>
    <div class="mb-4">
        <app-calendar [range]="range" [id]="id"></app-calendar>
    </div>
    <div class="mb-4">
        <label for="comment" class="form-label">Comentario</label>
        <textarea name="comment" type="text" class="form-control" id="comemnt" formControlName="comment" required rows="4" ></textarea>
    </div>
    <button type="submit" class="btn btn-primary float-end"
        [disabled]="range.invalid">Enviar</button>

</form>
