<mat-spinner *ngIf="show;else viewLogout"></mat-spinner>

<ng-template #viewLogout>
  <div *ngIf="dataSource.length < 1;else viewExist">
    <h2>No se a solicitado ningun vehiculo.</h2>
  </div>
  <ng-template #viewExist>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


      <ng-container matColumnDef="initial_date">
        <th mat-header-cell *matHeaderCellDef> Fecha Inicial </th>
        <td mat-cell *matCellDef="let element"> {{element?.initial_date}} </td>
      </ng-container>

      <ng-container matColumnDef="final_date">
        <th mat-header-cell *matHeaderCellDef> Fecha final </th>
        <td mat-cell *matCellDef="let element"> {{element?.final_date}} </td>
      </ng-container>

      <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef> Marca </th>
        <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
      </ng-container>

      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef> Modelo </th>
        <td mat-cell *matCellDef="let element"> {{element.model}} </td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Monto </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-template>

</ng-template>
