<div class="form-contact">
  <form
    class="form-contact__content"
    *ngIf="!success && !error"
    (ngSubmit)="onSubmit()"
    [formGroup]="contactForm"
  >
    <h2 class="form-contact__title">Enviame un mensaje:</h2>
    <div class="form-contact__field">
      <app-input
        [label]="'Nombre:'"
        [type]="'text'"
        [placeholder]="'Ingrese su nombre'"
        [control]="nameControl"
      ></app-input>
    </div>
    <div class="form-contact__field">
      <app-input
        [label]="'Email:'"
        [type]="'email'"
        [placeholder]="'Ingrese su email'"
        [control]="emailControl"
      ></app-input>
    </div>

    <div class="form-contact__field">
      <app-textarea
        [label]="'Mensaje:'"
        [placeholder]="'Ingrese su mensaje'"
        [control]="messageControl"
      ></app-textarea>
    </div>
    <app-btn
      [buttonType]="'submit'"
      [text]="'Enviar'"
      [color]="'secondary'"
      [variant]="'raised'"
      [isDisabled]="contactForm.invalid"
    ></app-btn>
  </form>
  <div *ngIf="this.success === true && this.error === false">
    <app-success
      [text]="
        'Correo enviado correctamente!.
            Muchas gracias por tu mensaje, lo revisare a la brevedad.'
      "
    ></app-success>
  </div>
  <div *ngIf="this.success === false && this.error === true">
    <app-message-error
      [messageError]="'Hubo un problema con su inicio de sesión.'"
    ></app-message-error>
  </div>
</div>
