<!-- <p>cars works!</p> -->
<div class="row mt-1 border p-2 rounded-2 contenedor_filtro">

  <h2>Encuentra tu Vehiculo!</h2>
  <div class="row mb-1 pe-0 " >
    <div class="col-6">
      <label>Marca:</label>
      <input type="text" id="#textoDeBrand" 
        [(ngModel)]='textoDeBrand'  class="form-control col-6" ng-model="selectedGcode" 
        placeholder="Ingrese Marca buscada" 
        (keyup)="search(textoDeBrand.value,textoDeModel.value)" />
    </div>
    <div class="col-6">
        <label>Modelo:</label>
        <input type="text" id="#textoDeModel" 
        [(ngModel)]='textoDeModel'  class="form-control col-6" 
        ng-model="selectedGcodes" placeholder="Ingrese Modelo buscado" 
        (keyup)="search(textoDeBrand.value,textoDeModel.value)" />
    </div>

  </div>
  <div class="p-0 mt-2 d-flex flex-wrap justify-content-end align-items-center gap-2 pe-4">
    <p class="p-0 m-0">Ordernamientos:</p>
    <button class="btn btn-outline-secondary" (click)="orderPrice(false)">Ordenar por Precio</button>
    <button class="btn btn-outline-secondary" (click)="orderBrand(false)">Ordenar por Marca</button>
    <button class="btn btn-outline-secondary" (click)="orderYear(false)">Ordenar por Año</button>
  </div>
</div>

<!-- <input type="text" id="#textoDeInput" [(ngModel)]='textoDeInput'  class="form-control" ng-model="selectedGcode" placeholder="Ingrese Marca buscada" ng-change="search(textoDeInput.value)"(keyup)="search(textoDeInput.value)" /> -->

<!-- <button  *ngIf='textoDeInput' class="btn btn-outline-secondary" (click)="search(textoDeInput.value)" type="button">Aqui toy</button> -->

<!-- <button (click)="search()">Buscar Por Marca<i>import Statement</i></button> -->
<!-- <p>{{car$}}</p> -->
<div class="row mt-4">
  <h2 class="d-flex justify-content-center">Nuestros Vehiculos:</h2>
</div>
<div class="d-flex flex-row gap-4 flex-wrap justify-content-center  border rounded-3 mt-3 py-5 contenedor_cars">
    <p *ngIf="cars<1">No se Han encontrado Vehiculos </p>
    <div *ngFor=" let autos of cars" class="d-inline">
        <div class="card" style="width: 18rem;">
            <img src='{{autos.Photo}}' class="card-img-top" alt="..." style="height: 11rem;">
            <div class="card-body">
              <h5 class="card-title">{{autos.Brand.toUpperCase()}}</h5>
              <p class="card-text">Modelo: {{autos.Model}}</p>
              <p class="card-text">Año: {{autos.Year}}</p>
              <p class="card-text">Precio: {{autos.Price}}  us$</p>
              <!-- <p class="card-text">{{autos.id}}</p> -->
    
              <!-- <a href="#" class="btn btn-primary">Ver Más</a> -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#staticBackdrop'+autos.id">
                Ver Más
              </button>
              
              
            </div>

          </div>
          
          <div class="modal fade " id="staticBackdrop{{autos.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <!-- <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5> -->
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img src='{{autos.Photo}}' class="card-img-top" alt="..." style="height: 30rem;">
                  <h5 class="card-title">{{autos.Brand.toUpperCase()}} {{autos.Model}}</h5>
                  <p class="card-text">Año: {{autos.Year}}</p>
                  <p class="card-text">Precio: {{autos.Price}}  us$</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <!-- <button type="button" class="btn btn-primary">Understood</button> -->
                </div>
              </div>
            </div>
        </div>
    </div>
    <!-- Scrollable modal -->
    
    
</div>
<!-- <div>Car: {{ car$ | async}}</div> -->