<div class="container_img">
    <picture class="landing-img">
        <source srcset="assets/images/porsche-1851246_1920_cleanup.avif" variant="image/avif" />
        <source srcset="assets/images/porsche-1851246_1920_cleanup.webp" variant="image/webp" />
        <img
            class="img__rental-car"
            src="assets/images/porsche-1851246_1920_cleanup.jpg"
            alt="Imagen portada Rental-Car"
            loading="eager"
            fetchpriority="high" />
    </picture>
    <div class="container_text">
        <div class="text1">
            <h3 class="textWelcome" appScrollAnimate>Bienvenido a</h3>
            <h3 class="textWelcome Rental-Car" appScrollAnimate>Rental-Car</h3>
            <p class="text">
                Un lugar donde podrás alquilar el auto de tus
                <span class="Rental-Car">sueños</span>
            </p>
            <app-btn
                [routerLink]="'/home'"
                fragment="flota"
                [text]="'Ver nuestra flota'"
                [color]="'primary'"
                [variant]="'raised'"></app-btn>

            <h4 class="textSecundary">Alquila ahora el auto de tus sueños</h4>
            <div *ngIf="!islogged" class="d-flex flex-column gap-2 justify-content-evenly">
                <app-btn [routerLink]="'/auth/login'" [text]="'Iniciar sesión'" [color]="'primary'" [variant]="'stroked'"></app-btn>
                <app-btn [routerLink]="'/auth/registro'" [text]="'Registrate'" [color]="'primary'" [variant]="'stroked'"></app-btn>
            </div>
        </div>
        <div class="text2"></div>
    </div>
</div>
