<div class="container__login">
    <app-auth [imageBackground]="'assets/images/ferrari_optimized.jpg'">
        <form *ngIf="this.login !== true" class="form-layout" (ngSubmit)="onSubmit()" [formGroup]="contactForm">
            <div class="text-center login-title">
                <h2 class="text-x2l">Inicie sesión</h2>
            </div>
            <div class="login-form__field">
                <app-input
                    [label]="'Email o nombre de usuario'"
                    [type]="'text'"
                    [placeholder]="'pat@example.com'"
                    [control]="emailControl"></app-input>
            </div>
            <div class="login-form__field">
                <app-input
                    [label]="'Contraseña'"
                    [type]="'password'"
                    [placeholder]="'********'"
                    [control]="passwordControl"
                    [showTogglePassword]="true"></app-input>
            </div>
            <div class="login-form__credentials">
                <div class="login-form__credentials-checkbox">
                    <app-checkbox [text]="'Recordarme'" [control]="rememberControl"></app-checkbox>
                </div>
                <div class="login-form__credentials-link">
                    <app-text-link [text]="'Olvidé mi contraseña'" [routerLink]="''" [color]="'primary'"></app-text-link>
                </div>
            </div>

            <div class="login-form__field--btn">
                <app-btn
                    [text]="'Iniciar sesión'"
                    [color]="'primary'"
                    [variant]="'raised'"
                    [buttonType]="'submit'"
                    [isDisabled]="contactForm.invalid"></app-btn>
            </div>
            <div class="login-form__divider">
                <span class="login-form__divider-text">o continuar con</span>
            </div>

            <button type="button" (click)="loginWithGoogle()" class="login-form__google-btn">
                <img src="assets/images/Google__G__logo.svg" alt="Google logo" class="google-logo" />
                Iniciar sesión con Google
            </button>
        </form>
        <div *ngIf="this.login === true" class="login__success">
            <app-success [text]="'Sesión iniciada con exito!'"></app-success>
        </div>
        <div *ngIf="this.login === false" class="login__success">
            <app-message-error [messageError]="'Hubo un problema con su inicio de sesión.'"></app-message-error>
        </div>
    </app-auth>
</div>
