<div class="container__login">
    <app-auth [imageBackground]="'assets/images/ferrari_optimized.jpg'">
        <form *ngIf="this.login !== true" class="formulario" (ngSubmit)="onSubmit()" [formGroup]="contactForm">
            <div class="text-center">
                <h2 class="text-2xl">Inicie sesión</h2>
            </div>
            <div class="login-form__field">
                <app-input
                    [label]="'Email o nombre de usuario'"
                    [type]="'text'"
                    [placeholder]="'pat@example.com'"
                    [control]="emailControl"></app-input>
            </div>
            <div class="login-form__field">
                <app-input
                    [label]="'Contraseña'"
                    [type]="'password'"
                    [placeholder]="'********'"
                    [control]="passwordControl"
                    [showTogglePassword]="true"></app-input>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="contentCheckbox">
                    <mat-checkbox class="mt-2" [checked]="remember" (change)="rememberMe($event.checked)">Recordarme</mat-checkbox>
                </div>
                <div class="d-flex align-items-center">
                    <a mat-link href="#" class="forgotPassword">Olvidé mi contraseña</a>
                </div>
            </div>

            <div class="login-form__field--btn">
                <app-btn
                    [text]="'Iniciar sesión'"
                    [color]="'primary'"
                    [variant]="'raised'"
                    [buttonType]="'submit'"
                    [isDisabled]="contactForm.invalid"></app-btn>
            </div>
            <div class="login-form__divider">
                <span class="login-form__divider-text">o continuar con</span>
            </div>

            <button type="button" (click)="loginWithGoogle()" class="login-form__google-btn">
                <img src="assets/images/Google__G__logo.svg" alt="Google logo" class="google-logo" />
                Iniciar sesión con Google
            </button>
        </form>
        <div *ngIf="this.login === true">
            <app-success [text]="'Sesión iniciada con exito!'"></app-success>
        </div>
        <div *ngIf="this.login === false">
            <app-message-error [messageError]="'Hubo un problema con su inicio de sesión.'"></app-message-error>
        </div>
    </app-auth>
</div>
