<div class="container marginTop alquiler" color="primary">
    <h1>Alquile un vehiculo</h1>
    <div class="row">
        <div class="col-9">
            <app-form-reactivo [idCar]="idCar" [cars]="cars"></app-form-reactivo>
        </div>
        <div class="col-3">
            <img src="{{cars?.image}}" alt="..." style="height: 11rem;">
            <h2>{{cars?.brand}}</h2>
            <h2>{{cars?.model}}</h2>
            <h2>{{cars?.year}}</h2>
            <h2>{{cars?.price}}</h2>
        </div>
    </div>

</div>

