/* You can add global styles to this file, and also import other style files */

:root {
    --color-primary: #f44336;
    --color-secondary: #2196f3;
    --color-accent: #ff9800;
    --color-error: #d51a27;
    --color-success: #4caf50;

    --color-surface: #424242;
    --color-background: #303030;
    --color-background--2: #21212194;
    --color-background-black: #171717;
    --color-text--muted: #C9C9C9;
    --color-text: #fff;
}

html {
    overflow-y: scroll;
    scrollbar-gutter: stable;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
    word-wrap: break-word;
}

/*
.container {
    max-width: 100vw;
    overflow-x: hidden;
} */

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #303030;
    color: #fff;
    box-sizing: border-box;
}

.main {
    padding: 0px 5rem;
    margin: 0px;
}

.backgroud {
    background: #303030;
}

.marginTop {
    margin-top: 80px;
}

input {
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
    /* Evita cambios de color bruscos */
}

/* Estado inicial */
[appScrollAnimate] {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s ease-out;
}

/* Se activa al entrar en pantalla */
.animate {
    opacity: 1;
    transform: translateY(0);
}

.image-container {
    overflow: hidden;
    position: relative;
}

.image-container img {
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.image-container img:hover {
    transform: scale(1.1);
}

@media (max-width: 365px) {
    .main {
        padding: 0px 2rem;
    }
}