/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #303030;
    color: #fff;
}

.main {
    padding: 0px 5rem;
    margin: 0px;
}

.backgroud {
    background: #303030;
}

.marginTop {
    margin-top: 80px;
}