<div class="app-container marginTop checkout mb-16">
  <div class="checkout__container pt-12 relative">
    <div class="checkout__form">
      <div class="checkout__form-stepper bg-background-2 pt-12 rounded-md">
        <app-stepper [steps]="stepsDescription" [currentStep]="step"></app-stepper>
      </div>
      <div class="checkout__form-info p-2 bg-background-2 mt-2 rounded-md flex flex-center">
        <span class="bg-surface font-sm flex-center rounded-100 pr-3 pl-3 pt-1 pb-1">i</span>
        <p>Info de primer nivel</p>
      </div>
      <div class="checkout__form-content flex-center flex-col">
        <div *ngIf="request && request.length > 0; else loading" class="checkout__form-content-header mb-4 flex-center flex-col">
          <app-checkout-card *ngFor="let r of request" [request]="r"></app-checkout-card>
          <app-btn [routerLink]="'/solicitar-auto'" [color]="'primary'" [variant]="'raised'" [text]="'Agregar nuevos Alquileres'"></app-btn>
        </div>
        <ng-template #loading>
          <div class="checkout__loading mt-2">
            <app-loading [color]="'accent'"></app-loading>
          </div>
          <div *ngIf="request.length === 0">
            <p>No se han agregado items al checkout!</p>
          </div>
        </ng-template>
      </div>
    </div>

    <!-- ✅ Resumen fijo -->
    <div class="checkout__slide bg-background-2 border-surface rounded-md p-4">
      <div class="checkout__slide-header mb-4 flex-col">
        <p class="font-bold">Items: {{ request ? request.length : 0 }}:</p>
        <div class="checkout__slide-header__contain ml-2 flex-col">
          <div *ngFor="let r of request" class="flex-center">
            <span class="info-circle bg-surface font-sm flex-center rounded-100">i</span>
            <p class="font-xs text-muted">{{ r.car_id.brand }}</p>
          </div>
        </div>
      </div>

      <div class="checkout__slide-body mb-6">
        <p>
          Subtotal:
          <span class="font-bold">${{ subtotal }}</span>
        </p>
        <p>
          Descuento:
          <span class="font-bold text-accent">-${{ discount }}</span>
        </p>
        <p>
          Total:
          <span class="font-bold text-lg">${{ total }}</span>
        </p>
      </div>

      <div class="checkout__slide-footer">
        <p class="mb-2">Métodos de pago:</p>
        <div class="flex flex-col gap-2">
          <button class="btn font-md font-bold rounded-md pt-3 pb-3" routerLink="/payment">Mercado Pago</button>
        </div>
      </div>
    </div>
  </div>
</div>
