<div class="app-container marginTop checkout mb-16">
  <div class="checkout__container pt-12">
    <div class="checkout__form">
      <div class="checkout__form-stepper bg-background-2 pt-12 rounded-md">
        <app-stepper [steps]="stepsDescription" [currentStep]="step"></app-stepper>
      </div>
      <div class="checkout__form-info">
        <p>Info de primer nivel</p>
      </div>
      <div class="checkout__form-content">
        <p>class</p>
        <p>class</p>
        <p>class</p>
        <p>class</p>
      </div>
    </div>
    <div class="checkout__slide">
      <div>
        <p>text</p>
      </div>
    </div>
  </div>
</div>
