// Fuentes
$fonts: (
  title: (
    'Lora',
    serif,
  ),
  body: (
    'Inter',
    sans-serif,
  ),
);

// Containers (breakpoints o max-widths)
$breakpoints: (
  x2s: 360px,
  xs: 414px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  x2l: 1600px,
);

// Spacing (margin, padding)
$spacing: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  8: 2rem,
  10: 2.5rem,
  12: 3rem,
  13: 3.5rem,
  14: 4rem,
  15: 5rem,
  16: 6rem,
  18: 8rem,
  20: 10rem,
);

// Font sizes
$font-sizes: (
  xs: 0.75rem,
  sm: 0.875rem,
  base: 1rem,
  md: 1.125rem,
  lg: 1.25rem,
  xl: 1.5rem,
  x2l: 2rem,
  x3l: 2.5rem,
  x4l: 3rem,
  x5l: 3.75rem,
);

// Border radius
$radius: 0.5rem;

// Colores principales
$colors: (
  primary: #d63a3a,
  confirm: #b02c55,
  secondary: #3a6ebf,
  accent: #ffb74d,
  success: #4caf50,
  error: #cc1e2c,
  text: #ffffff,
  muted: #b0b0b0,
  muted-hover: #e0e0e0,
  'black': #0f0f0f,
  'surface': #393939,
  black-faint: rgba(#0f0f0f, 0.6),
);

// Colores hover (opacos)
$colors-hover: (
  primary: #d63a3a,
  confirm: #b02c55,
  secondary: #3a6ebf,
  accent: #ffb74d,
  success: #4caf50,
  error: #cc1e2c,
  'white': #ffffff,
  primary-hover: #b02a2a,
  confirm-hover: #9a2146,
  secondary-hover: #305fa6,
  accent-hover: #ff9800,
  success-hover: #388e3c,
  error-hover: #99171f,
  text-hover: #ffffff05,
  primary-hover-faint: rgba(214, 58, 58, 0.05),
  confirm-hover-faint: rgba(176, 44, 85, 0.05),
  secondary-hover-faint: rgba(58, 110, 191, 0.05),
  accent-hover-faint: rgba(255, 183, 77, 0.05),
  success-hover-faint: rgba(76, 175, 80, 0.05),
  error-hover-faint: rgba(204, 30, 44, 0.05),
);

// Fondos y superficies
$bg: (
  'white': #ffffff,

  // Surface (para cards, modales, inputs, contenedores intermedios)
  'surface': #393939,
  'surface-2': #2e2e2e,
  'surface-3': #242424,

  // Background general (app, secciones principales)
  'background': #121212bb,
  'background-2': #1e1e1e,
  'background-3': #0a0a0a,

  // Tonos negros
  'black': #0f0f0f,

  // Faint (opacidades para hover, overlays, borders suaves)
  'surface-faint': rgba(#393939, 0.6),
  'surface-2-faint': rgba(#2e2e2e, 0.6),
  'surface-3-faint': rgba(#242424, 0.6),
  'background-faint': rgba(#1e1e1e, 0.6),
  'background-2-faint': rgba(#121212, 0.6),
  'background-3-faint': rgba(#0a0a0a, 0.6),
  'black-faint': rgba(#0f0f0f, 0.6),
  primary: #d63a3a,
  confirm: #b02c55,
  secondary: #3a6ebf,
  accent: #ffb74d,
  success: #4caf50,
  error: #cc1e2c,
);
