<div *ngIf="show; else content" class="loading flex-center bg-surface-3 mb-2 rounded-md">
  <div class="loading-container">
    <app-loading></app-loading>
  </div>
</div>

<ng-template #content>
  <div *ngIf="!isEmpty" class="table-controls bg-surface-3 mb-4 rounded-md pl-4 pr-4 pt-4">
    <app-table-filter
      [label]="'Buscar:'"
      [placeholder]="'Filtro de solicitudes...'"
      [data]="rawData"
      [columns]="columns"
      (filteredData)="onFilteredData($event)"
    ></app-table-filter>
    <app-rental-status-filter (statusSelected)="onFilterStatus($event)"></app-rental-status-filter>

    <app-table-pagination
      [data]="filteredData"
      [pageSizeOptions]="pageSizeOptions"
      (pageData)="onPageData($event)"
      (pageSizeChange)="onPageSizeChanged($event)"
    ></app-table-pagination>
  </div>

  <app-table [data]="pagedData" [columns]="columns" [actionsTemplate]="actionButtons" (sendOrder)="onOrderBy($event)"></app-table>
</ng-template>

<ng-template #actionButtons let-row>
  <div class="actions flex-center">
    <app-btn *ngIf="row.state === 'req'" [variant]="'raised'" [color]="'error'" [text]="'Cancelar'" (click)="cancelRequest(row)"></app-btn>

    <app-btn
      *ngIf="row.state === 'req'"
      [variant]="'raised'"
      [color]="'primary'"
      [text]="'Confirmar'"
      (click)="confirmRequest(row)"
    ></app-btn>

    <app-btn *ngIf="row.state === 'con'" [variant]="'basic'" [color]="'confirm'" [text]="'Confirmado'"></app-btn>

    <app-btn *ngIf="row.state === 'add'" [variant]="'basic'" [color]="'accent'" [text]="'Agregado al carrito'"></app-btn>

    <app-btn *ngIf="row.state === 'can'" [variant]="'outline'" [color]="'error'" [text]="'Cancelado'"></app-btn>

    <app-btn *ngIf="row.state === 'cancelNow'" [variant]="'outline'" [color]="'confirm'" [text]="'Cancelado con exito!'"></app-btn>
  </div>
</ng-template>
