@if (show) {
  <div class="loading flex-center bg-surface-3 mb-2 rounded-md">
    <div class="loading-container">
      <app-loading></app-loading>
    </div>
  </div>
} @else {
  @if (!isEmpty) {
    <div class="table-controls bg-surface-3 mb-4 rounded-md pl-4 pr-4 pt-4">
      <app-table-filter
        [label]="'Buscar:'"
        [placeholder]="'Filtro de solicitudes...'"
        [data]="rawData"
        [columns]="columns"
        (filteredData)="onFilteredData($event)"
      ></app-table-filter>
      <app-rental-status-filter (statusSelected)="onFilterStatus($event)"></app-rental-status-filter>
      <app-table-pagination
        [data]="filteredData"
        [pageSizeOptions]="pageSizeOptions"
        (pageData)="onPageData($event)"
        (pageSizeChange)="onPageSizeChanged($event)"
      ></app-table-pagination>
    </div>
  }
  <app-table [data]="pagedData" [columns]="columns" [actionsTemplate]="actionButtons" (sendOrder)="onOrderBy($event)"></app-table>
}


<ng-template #actionButtons let-row>
  <div class="actions flex-center">
    @if (row.state === 'req') {
      <app-btn [variant]="'raised'" [color]="'error'" [text]="'Cancelar'" (click)="cancelRequest(row)"></app-btn>
    }

    @if (row.state === 'req') {
      <app-btn
        [variant]="'raised'"
        [color]="'primary'"
        [text]="'Confirmar'"
        (click)="confirmRequest(row)"
      ></app-btn>
    }

    @if (row.state === 'con') {
      <app-btn [variant]="'basic'" [color]="'confirm'" [text]="'Confirmado'"></app-btn>
    }

    @if (row.state === 'add') {
      <app-btn
        [routerLink]="'/checkout'"
        [variant]="'basic'"
        [color]="'accent'"
        [text]="'Agregado al carrito'"
      ></app-btn>
    }

    @if (row.state === 'can') {
      <app-btn [variant]="'outline'" [color]="'error'" [text]="'Cancelado'"></app-btn>
    }

    @if (row.state === 'cancelNow') {
      <app-btn [variant]="'outline'" [color]="'confirm'" [text]="'Cancelado con exito!'"></app-btn>
    }
  </div>
</ng-template>
