img {
    width: 4em;
    max-width: 60px;
    min-width: 30px;
    height: auto;
}

.error-message {
    gap: 0.5em;
    padding: 2px;
    border: 2px solid var(--color-error);
}

.message__content {
    display: flex;
}

.error-message__icon {
    width: 120px;
}
